[Unit]
Description=Automated manager and downloader for TV series

[Service]
ExecStart=/usr/lib64/sonarr/Sonarr -nobrowser -data /var/lib/sonarr
User=sonarr
Group=sonarr
Restart=on-failure
RestartSec=5

[Unit]
After=network.target

[Install]
WantedBy=multi-user.target
