[Unit]
Description=Automated manager and downloader for TV series

[Service]
ExecStart=/usr/bin/mono --debug /usr/share/sonarr/Sonarr.exe -nobrowser -data /var/lib/sonarr
User=sonarr
Group=sonarr
Restart=on-failure
RestartSec=5

[Unit]
After=network.target

[Install]
WantedBy=multi-user.target
